* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Roboto Condensed", serif;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 168px;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  border-bottom: 1px solid rgb(215, 206, 206);
  background-color: white;

  & > .choice {
    display: none;
  }
}

.tabletsearchbar {
  display: none;
}

.navbar {
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  display: flex;

  & > div {
    width: calc(100% / 3);
  }
}

.logo {
  display: flex;
  align-items: center;
}

.hiddenlogo {
  display: none;
  align-items: center;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;

  & > div {
    padding: 15px 20px;
  }
}

.arbnbDetails {
  display: flex;
  justify-content: end;
  align-items: center;
}

.ayh {
  font-size: 16px;
  font-weight: 450;
  padding: 15px 15px;
}

.locreg {
  padding: 15px 15px;
  margin-right: 5px;
}

.sandpro {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid rgb(215, 206, 206);
  border-radius: 26px;
  padding: 5px 10px;
}

.experiences:hover,
.stays:hover,
.ayh:hover,
.locreg:hover {
  background-color: rgb(246, 246, 246);
  border-radius: 22px;
}

.sandpro:hover {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.searchbar {
  width: 870px;
  padding: 8px 0;
  margin: 0 auto;
  display: flex;
  border: 1px solid rgb(215, 206, 206);
  border-radius: 48px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

  & > div {
    width: calc(100% / 3);
  }
}

.line1 {
  font-size: 14px;
}

.line2 {
  font-size: 16px;
  color: rgb(141, 137, 137);
}

.line2 > input {
  border: none;
  outline: none;
  font-family: var(--font);
  font-size: 14px;

  & > input::placeholder {
    color: rgb(141, 137, 137);
  }
}

.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;

  &:hover {
    background-color: rgb(228, 224, 224);
    border-radius: 36px;

    .line2 > input {
      background-color: rgb(228, 224, 224);
    }

    .line2 > input::placeholder {
      background-color: rgb(228, 224, 224);
    }
  }
}

.inout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  & > div {
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > div:hover {
    background-color: rgb(228, 224, 224);
    border-radius: 36px;
  }
}

.checkindate > div,
.checkoutdate > div {
  border-left: 1px solid rgb(215, 206, 206);
  border-right: 1px solid rgb(215, 206, 206);
  padding-left: 25px;
}

.guests {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 20px;

  &:hover {
    background-color: rgb(228, 224, 224);
    border-radius: 36px;
  }
}

.leftgue {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightgue {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff385c;
  border-radius: 28px;
}

.selection {
  margin: 20px auto 0 auto;
  width: 90%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.categories {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 40px;
}

.catoptions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-family: var(--font);
  text-align: center;
  border-bottom: 2px solid transparent;

  color: rgb(141, 137, 137);

  & > img {
    height: 30px;
    width: 30px;
  }

  &:hover {
    border-bottom: 2px solid black;
  }
}

.filters {
  min-width: 100px;
}

.dtbt {
  min-width: 210px;
}

.filters,
.dtbt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-family: var(--font);

  border: 1px solid rgb(228, 224, 224);
  border-radius: 16px;

  margin: 15px 0;
  padding: 0 15px;

  &:hover {
    border: 1px solid black;
    background-color: rgb(228, 224, 224);
  }
}

.collections {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  font-family: var(--font);
  font-size: 17px;
}

.carts {
  width: calc(92% / 4);
  height: 400px;
}

.cimg {
  background-image: url(https://a0.muscache.com/im/pictures/d8d629d7-9307-4b24-a8ae-b01d95e36124.jpg);
  background-size: cover;
  background-position: center;

  height: 70%;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 10px;
  border-radius: 15px;
}

.cdetail {
  padding: 0 5px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headrate {
  display: flex;
  justify-content: space-between;
}

.cdrate {
  display: flex;
  align-items: center;
}

.cdprice {
  margin-top: 10px;
}

.cdhead,
.cdprice {
  font-weight: 500;
}

.destance,
.datemon {
  color: rgb(141, 137, 137);
}

.guestfav > p {
  border-radius: 18px;
  background-color: white;
  padding: 5px 10px;
}

.cimg > span {
  padding: 5px;
}

.footer {
  background-color: rgb(247, 247, 247);
  height: 750px;
  font-family: var(--font);
}

.footerone {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 0;
}

.foheading {
  font-size: 25px;
  font-weight: 500;
}

.foselection {
  display: flex;
  gap: 30px;
  border-bottom: 2px solid rgb(221, 221, 221);
  color: rgb(141, 137, 137);

  & > p {
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
  }

  & > p:hover {
    color: black;
    border-bottom: 2px solid black;
  }
}

.foselarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

.fsarea {
  width: calc(90% / 6);
  /* margin-bottom: 20px; */

  & > :nth-child(1) {
    font-weight: 500;
  }
  & > :nth-child(2) {
    color: rgb(141, 137, 137);
  }
}

.footertwo {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: rgb(102, 102, 102);
}

.twotop {
  display: flex;
}

.support-section,
.hosting-section,
.airbnb-section {
  width: calc(100% / 3);
  height: 100%;
  padding: 30px 0;

  & > :nth-child(1) {
    color: black;
    font-weight: 500;
  }

  & > p {
    margin-bottom: 10px;
  }
}

.twobottom {
  border-top: 2px solid rgb(221, 221, 221);
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.hidetop {
  display: none;
  align-items: center;
  gap: 20px;
  color: black;
  font-size: 16px;
}

.botleft,
.bright {
  text-align: center;
  display: flex;
  gap: 20px;
}

.botright {
  display: flex;
  align-items: center;
  gap: 20px;
  color: black;
  font-size: 16px;
}

.fa-brands {
  font-size: 20px;
}

@media (max-width: 576px) {
  /* Mobile devices */

  .header {
    justify-content: center;
    border: none;
    height: 105px;
  }

  .selection {
    position: sticky;
    top: 105px;
    width: 100%;
    border-bottom: 1px solid rgb(215, 206, 206);
    background-color: white;
    margin: 0;
  }

  .categories {
    width: 90%;
    margin: 0 auto;
  }

  .collections {
    justify-content: center;
  }

  .navbar,
  .searchbar,
  .filters,
  .dtbt {
    display: none;
  }

  .tabletsearchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    font-family: var(--font);
    font-size: 16px;
  }

  .tserch {
    width: 88%;
    border: 1px solid rgb(215, 206, 206);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    padding: 20px 20px;

    & > input::placeholder {
      color: rgb(90, 87, 87);
      font-size: 16px;
    }

    & > input {
      border: none;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  .slidericon {
    padding: 10px;
    border: 1px solid rgb(169, 163, 163);
    border-radius: 18px;
  }

  .carts {
    width: calc(92% / 1);
  }

  .footer {
    height: 1480px;
  }

  .foselection {
    & > :nth-child(8),
    & > :nth-child(7),
    & > :nth-child(6) {
      display: none;
    }
  }

  .fsarea {
    width: calc(90% / 2);
  }

  .foselarea {
    & > :nth-child(9),
    & > :nth-child(10),
    & > :nth-child(11),
    & > :nth-child(12),
    & > :nth-child(13),
    & > :nth-child(14),
    & > :nth-child(15),
    & > :nth-child(16),
    & > :nth-child(17) {
      display: none;
    }
  }

  .twotop {
    flex-direction: column;
  }

  .hosting-section {
    width: 100%;
    border-top: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
  }

  .twobottom {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .hidetop {
    display: flex;
  }

  .botright {
    display: none;
  }

  .botleft {
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 744px) {
  /* Tablets */

  .header {
    justify-content: center;
    border: none;
    height: 105px;
  }

  .selection {
    position: sticky;
    top: 105px;
    width: 100%;
    border-bottom: 1px solid rgb(215, 206, 206);
    background-color: white;
    margin: 0;
  }

  .categories {
    width: 90%;
    margin: 0 auto;
  }

  .navbar,
  .searchbar,
  .filters,
  .dtbt {
    display: none;
  }

  .tabletsearchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    font-family: var(--font);
    font-size: 16px;
  }

  .tserch {
    width: 92%;
    border: 1px solid rgb(215, 206, 206);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 22px;
    padding: 20px 20px;

    & > input::placeholder {
      color: rgb(90, 87, 87);
      font-size: 16px;
    }

    & > input {
      border: none;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  .slidericon {
    padding: 10px;
    border: 1px solid rgb(169, 163, 163);
    border-radius: 18px;
  }

  .carts {
    width: calc(92% / 2);
  }

  .footer {
    height: 1425px;
  }

  .foselection {
    & > :nth-child(8),
    & > :nth-child(7),
    & > :nth-child(6) {
      display: none;
    }
  }

  .fsarea {
    width: calc(90% / 2);
  }

  .foselarea {
    & > :nth-child(9),
    & > :nth-child(10),
    & > :nth-child(11),
    & > :nth-child(12),
    & > :nth-child(13),
    & > :nth-child(14),
    & > :nth-child(15),
    & > :nth-child(16),
    & > :nth-child(17) {
      display: none;
    }
  }

  .twotop {
    flex-direction: column;
  }

  .hosting-section {
    width: 100%;
    border-top: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
  }

  .twobottom {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .hidetop {
    display: flex;
  }

  .botright {
    display: none;
  }

  .botleft {
    flex-direction: column;
  }
}
@media (min-width: 744px) and (max-width: 950px) {
  /* Small desktops */

  .navbar {
    justify-content: space-between;
  }

  .logo {
    display: none;
  }

  .hiddenlogo {
    display: block;
    display: flex;
    align-items: center;
  }

  .header {
    height: 250px;

    & > .choice {
      display: flex;
      margin-bottom: 15px;
    }
  }

  .navbar {
    & > div {
      width: calc(100% / 2);
    }

    & > .choice {
      display: none;
    }
  }

  .searchbar {
    width: 90%;
  }

  .carts {
    width: calc(92% / 2);
  }

  .footer {
    height: 1500px;
  }

  .foselection {
    & > :nth-child(8) {
      display: none;
    }
  }

  .fsarea {
    width: calc(90% / 2);
  }

  .foselarea {
    & > :nth-child(13),
    & > :nth-child(14),
    & > :nth-child(15),
    & > :nth-child(16),
    & > :nth-child(17) {
      display: none;
    }
  }

  .twotop {
    flex-direction: column;
  }

  .hosting-section {
    width: 100%;
    border-top: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
  }

  .twobottom {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .hidetop {
    display: flex;
  }

  .botright {
    display: none;
  }

  .botleft {
    flex-direction: column;
  }
}
@media (min-width: 950px) and (max-width: 1250px) {
  /* Large desktops */

  .carts {
    width: calc(92% / 3);
  }

  .footer {
    height: 800px;
  }
  .fsarea {
    width: calc(90% / 3);
  }

  .foselarea {
    & > :nth-child(13),
    & > :nth-child(14),
    & > :nth-child(15),
    & > :nth-child(16),
    & > :nth-child(17) {
      display: none;
    }
  }
}
